{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/django-logo.jpg" %}" alt="Django blog"/>
            <h2>DJANGO BLOG</h2>
        </header>
        <p>Blog made using Django framework for study purposes</p>
    </section>

    <section id="latest-posts">
        <h2>Latest posts</h2>

        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>Purpose</h2>
        <p>
            Made for study purposes
        </p>
        <p>
            More text bla bla bla
        </p>
    </section>
{% endblock %}