{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Início</a></h1>
        <nav>
            <a href="">Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="" alt="Django blog"/>
            <h2>DJANGO BLOG</h2>
        </header>
        <p>Blog made using Django framework for study purposes</p>
    </section>

    <section id="latest-posts">
        <h2>Latest posts</h2>

        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt="Example"/>
                        <div class="post__content">
                            <h3>Example</h3>
                            <p>Example text blablabla</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>Purpose</h2>
        <p>
            Made for study purposes
        </p>
        <p>
            More text bla bla bla
        </p>
    </section>
{% endblock %}