{% extends "base.html" %}
{% load static %}

{% block title %}Post title{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>

    <article>
        <img src="{% static "blog/images/comments-python.jpg" %}" alt=""/>
        <address>By Django Admin</address>
        <div>
            Last updated on <time>Present</time>
        </div>

    </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eos impedit
            laborum magnam molestias praesentium, sed. Excepturi molestiae, necessitatibus
            odit quo similique totam vitae. At delectus fugiat omnis ratione sequi!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eos impedit
            laborum magnam molestias praesentium, sed. Excepturi molestiae, necessitatibus
            odit quo similique totam vitae. At delectus fugiat omnis ratione sequi!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eos impedit
            laborum magnam molestias praesentium, sed. Excepturi molestiae, necessitatibus
            odit quo similique totam vitae. At delectus fugiat omnis ratione sequi!
        </p>
    </main>
{% endblock %}
